<button class="btn btn-lg btn-outline-danger elite-text" (click)="open(content)">Detalle</button>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ product.name }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="p-2">{{ product.description }}</div>
        <div class="d-inline p-2 "><label for="price">Precio : </label></div>
        <div class="d-inline p-2">{{ product.price }}</div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-between">
            <p class="lead contact">Contactanos al 76987216</p>
            <button type="button" class="btn btn-outline-danger elite-text" (click)="modal.close('Save click')">Ok</button>
        </div>
    </div>
</ng-template>